@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 31, 41, 55;
}

body {
  /* This creates a white glow in the center that fades to soft blue at the edges */
  background: radial-gradient(circle at 50% 30%, #ffffff 0%, #dbeafe 70%, #bfdbfe 100%);
  background-attachment: fixed;
  min-height: 100vh;
  
  color: #1F2937;
  font-family: var(--font-sans), sans-serif;
}